extends layout.pug

block content
  .empty

  .fzf
    .grid.grid--container.page-section
      .row
        .col.col--lg-8.col--lg-offset-2
          .four 4
          .zero
            .zero-after
          .four 4
          .sorry
            span Страница по вашему запросу не найдена
            span.smile









