extends layout.pug

block content

  .background
    main.hero
      .hero__bg
      .grid.grid--container
        .row
          .col.col--lg-10.col--md-12.col--sm-10.col--md-offset-0.col--sm-offset-1.col--lg-offset-1
            .hero-content
              h1.index-header Отдых на Черноморском побережье
              form.hero__form
                //- .hero__input-group
                .hero__input
                  input(type="text" value="Сочи, Россия")
                .hero__input
                  input(type="text" readonly="true").datepicker-range
                .hero__input.guest-clicker
                  input(type="text" value="1 номер, 1 гость").guest-clicker__input
                  .guest-clicker__modal.popup
                    .guest-clicker__group
                      .guest-clicker__label Номера
                      .guest-clicker__btn.js-room-minus -
                      .guest-clicker__room-number 1
                      .guest-clicker__btn.js-room-plus +
                    .guest-clicker__group
                      .guest-clicker__label Гости
                      .guest-clicker__btn.js-guest-minus -
                      .guest-clicker__guest-number 1
                      .guest-clicker__btn.js-guest-plus +
                .hero__input
                  select.custom-select
                    option По рейтингу
                    option Цена по возрастанию
                    option Цена по убыванию
                input(type="submit" value="Поиск").hero__btn

    .page-section

      .grid.grid--container
        section.page-section
          header.subheader
            a(href="")
              h2 Специальные предложения
          .row.special-offers
            - for (var i = 0; i < 3; i++)
              .col.col--lg-4.col--md-4.col--sm-4
                .offer
                  .offer__plate
                    span от 3430
                    span.ruble
                  .offer__img
                    img(src="img/special-1.jpg", alt="")
                  .offer__title Горнолыжный отдых в ГК «Bridge Resort»
                  .offer__anons
                    p В дни школьных каникул предлагаем совершить увлекательную поездку в  яркий в любое время года Олимпийский Сочи!
                  a(href="").link Подробнее

        section
          header.subheader
            .left
              a(href="")
                h2 Популярные направления
            .right
              .popular-direction-mobile
                select.custom-select
                  option Все направления
                  option Страны
                  option Города
              .popular-direction-desktop
                .btn.btn--dashed.btn--dashed-active Все направления
                .btn.btn--dashed Страны
                .btn.btn--dashed Города
          .popular-directions
            .masonry
              .masonry-column.masonry-column__country
                a(href="").direction
                  img(src="img/direction-1.jpg", alt="").direction__img
                  .direction__text
                    .direction__city Красная поляна
                    .direction__country Россия
              .masonry-column.masonry-column__country
                a(href="").direction.direction--type-2
                  img(src="img/direction-2.jpg", alt="").direction__img
                  .direction__text
                    .direction__city Сочи
                    .direction__country Россия
              .masonry-column.masonry-column__city
                a(href="").direction.direction--type-3
                  img(src="img/direction-3.jpg", alt="").direction__img
                  .direction__text
                    .direction__city Ереван
                    .direction__country Армения
              .masonry-column.masonry-column__country
                a(href="").direction.direction--type-3
                  img(src="img/direction-3.jpg", alt="").direction__img
                  .direction__text
                    .direction__city Красная поляна
                    .direction__country Россия
              .masonry-column.masonry-column__country
                a(href="").direction
                  img(src="img/direction-1.jpg", alt="").direction__img
                  .direction__text
                    .direction__city Красная поляна
                    .direction__country Россия
              .masonry-column.masonry-column__city
                a(href="").direction.direction--type-2
                  img(src="img/direction-2.jpg", alt="").direction__img
                  .direction__text
                    .direction__city Красная поляна
                    .direction__country Россия
              .masonry-column.masonry-column__city
                a(href="").direction
                  img(src="img/direction-1.jpg", alt="").direction__img
                  .direction__text
                    .direction__city Красная поляна
                    .direction__country Россия
              .masonry-column.masonry-column__country
                a(href="").direction.direction--type-3
                  img(src="img/direction-3.jpg", alt="").direction__img
                  .direction__text
                    .direction__city Красная поляна
                    .direction__country Россия
              .masonry-column.masonry-column__country
                a(href="").direction.direction--type-2
                  img(src="img/direction-2.jpg", alt="").direction__img
                  .direction__text
                    .direction__city Красная поляна
                    .direction__country Россия



    .white-block.page-section
      .grid.grid--container
        header.subheader
          .left
            a(href="")
              h2 Специальные предложения отелей
          .right
            .special-slider-nav
              i.fa.fa-angle-left
              i.fa.fa-angle-right
        .special-slider
          - for (var x = 0; x < 5; x++)
            a(href="").slide
              .slide__img
                img(src="img/hotel-1.jpg", alt="")
              .slide__text
                .slide__top
                  .slide__title Radisson Blu Paradise Resort &amp; Spa Sоchi
                  .stars
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                .slide__bottom
                  .slide__price 2 500 ₽
                  .slide__price-name средняя цена



    
    section
      .grid.grid--container
        header.subheader
          a(href="")
            h2 Контакты
    .index-map
      .map.page-section
        .grid.grid--container
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2816.8159145447253!2d38.98807731561053!3d45.08952597909836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDA1JzIyLjMiTiAzOMKwNTknMjUuMCJF!5e0!3m2!1sru!2sru!4v1492419346070" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
      .index-map__info
        .index-map__title Адрес
        .index-map__text 354000, г. Сочи, ул. Роз, 31, оффис 32
        .index-map__title email
        .index-map__text info@ekka.info
        .index-map__title Телефоны
        .indxe-map__text +7 (8622) 66 50  46
        .indxe-map__text +7 (8622) 66 50  46
        .indxe-map__text +7 (8622) 66 50  46
        .indxe-map__text +7 (8622) 66 50  46


    include viewed.pug






