extends layout.pug

block content

  .background
    main.hero
      .grid.grid--container
        .row
          .col.col--lg-10.col--md-12.col--lg-offset-1
            .hero-content
              h1.index-header Отдых на Черноморском побережье
              form.hero__form
                //- .hero__input-group
                .hero__input
                  input(type="text" value="Сочи, Россия")
                .hero__input
                  input(type="text").datepicker-range
                .hero__input
                  input(type="text" value="1 номер, 1 гость")
                .hero__input
                  select
                    option По популярности
                    option По цене
                    option По дате добавления
                input(type="submit" value="Поиск").hero__btn

    .page-section

      .grid.grid--container
        section.page-section
          header.subheader
            h2 Специальные предложения
          .row.special-offers
            - for (var i = 0; i < 3; i++)
              .col.col--lg-4.col--md-4
                .offer
                  .offer__plate
                    span от 3430
                    span.ruble
                  .offer__img
                    img(src="../../img/special-1.jpg", alt="")
                  .offer__title Горнолыжный отдых в ГК «Bridge Resort»
                  .offer__anons
                    p В дни школьных каникул предлагаем совершить увлекательную поездку в  яркий в любое время года Олимпийский Сочи!
                  a(href="").link Подробнее

        section
          header.subheader
            .left
              h2 Популярные направления
            .right
              .btn-group
                .btn.btn--dashed.btn--dashed-active Все направления
                .btn.btn--dashed Страны
                .btn.btn--dashed Города
          .popular-directions
            .masonry
              .masonry-row
                .masonry-column
                  .direction
                    img(src="img/direction-1.jpg", alt="").direction__img
                    .direction__text
                      .direction__city Красная поляна
                      .direction__country Россия
                .masonry-column
                  .direction.direction--type-2
                    img(src="img/direction-2.jpg", alt="").direction__img
                    .direction__text
                      .direction__city Сочи
                      .direction__country Россия
                .masonry-column
                  .direction.direction--type-3
                    img(src="img/direction-3.jpg", alt="").direction__img
                    .direction__text
                      .direction__city Ереван
                      .direction__country Армения
                .masonry-column
                  .direction.direction--type-3
                    img(src="img/direction-3.jpg", alt="").direction__img
                    .direction__text
                      .direction__city Красная поляна
                      .direction__country Россия
                .masonry-column
                  .direction
                    img(src="img/direction-1.jpg", alt="").direction__img
                    .direction__text
                      .direction__city Красная поляна
                      .direction__country Россия
                .masonry-column
                  .direction.direction--type-2
                    img(src="img/direction-2.jpg", alt="").direction__img
                    .direction__text
                      .direction__city Красная поляна
                      .direction__country Россия
                .masonry-column
                  .direction
                    img(src="img/direction-1.jpg", alt="").direction__img
                    .direction__text
                      .direction__city Красная поляна
                      .direction__country Россия
                .masonry-column
                  .direction.direction--type-3
                    img(src="img/direction-3.jpg", alt="").direction__img
                    .direction__text
                      .direction__city Красная поляна
                      .direction__country Россия
                .masonry-column
                  .direction.direction--type-2
                    img(src="img/direction-2.jpg", alt="").direction__img
                    .direction__text
                      .direction__city Красная поляна
                      .direction__country Россия


    .white-block.page-section
      .grid.grid--container
        header.subheader
          .left
            h2 Специальные предложения отелей
          .right
            .special-slider-nav
              i.fa.fa-angle-left
              i.fa.fa-angle-right
        .special-slider
          a(href="").slide
            .slide__img
              img(src="img/hotel-1.jpg", alt="")
            .slide__text
              .slide__top
                .slide__title Radisson Blu Paradise Resort &amp; Spa Sоchi
                .stars
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
              .slide__bottom
                .slide__price 2 500 ₽
                .slide__price-name средняя цена
          a(href="").slide
            .slide__img
              img(src="img/hotel-1.jpg", alt="")
            .slide__text
              .slide__top
                .slide__title Radisson Blu Paradise Resort &amp; Spa Sоchi
                .stars
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
              .slide__bottom
                .slide__price 2 500 ₽
                .slide__price-name средняя цена
          a(href="").slide
            .slide__img
              img(src="img/hotel-1.jpg", alt="")
            .slide__text
              .slide__top
                .slide__title Radisson Blu Paradise Resort &amp; Spa Sоchi
                .stars
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
              .slide__bottom
                .slide__price 2 500 ₽
                .slide__price-name средняя цена



    
    section
      .grid.grid--container
        header.subheader
          h2 Мы на карте
    .map.page-section
      iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d90140.36064485228!2d38.95759305000001!3d45.08809935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1491204702601" frameborder="0" style="border:0" allowfullscreen)

    include viewed.pug



