extends layout.pug

block content
  .empty
  header.inner-header
    .grid.grid--container
      a(href="").btn.btn--inner
        i.fa.fa-angle-left
        span Назад
      h1 О компании

  .grid.grid--container
    .row
      .col.col--lg-8.col--lg-offset-2
        h3 Уважаемые Дамы и Господа!
        p Позвольте представить Вашему вниманию сайт туроператора «Экка-Сочи-Трэвел». Приглашаем вас воспользоваться услугами нашей фирмы для поездки на отдых и лечение в лучший город-курорт России — Сочи. Основное направление деятельности — приём туристов в Большом Сочи. Наша фирма работает на рынке туристических услуг уже 14 лет и имеет репутацию динамично развивающейся и надёжной компании.
        p Залогом вашего успешного отдыха является высокое качество предоставленных нами услуг:
        ul.list
          li отдых и лечение: санатории, пансионаты, базы отдыха;
          li бронирование: гостиницы, мини-отели, коттеджи;
          li организация группового, детского, молодежного отдыха;
          li горнолыжный курорт Красная Поляна;
          li деловой туризм;
          li транспортное и экскурсионное обслуживание
        h3 Дипломы и сертификаты
        .regular-slider.regular-slider--different-width
          .slide
            .slide-content
              img(src="img/about-1.jpg", alt="")
              p Диплом выставки «MITT 2004» (Москва)
          .slide
            .slide-content
              img(src="img/about-2.jpg", alt="")
              p Диплом 12-го международного фестиваля туризма «Мир без границ» (Ростов-на-Дону, 2009)
          .slide
            .slide-content
              img(src="img/about-3.jpg", alt="")
              p Диплом 14-го международного фестиваля туризма «Мир без границ» (Ростов-на-Дону, 2011)
          .slide
            .slide-content
              img(src="img/about-1.jpg", alt="")
              p Сертификат 11-й специализированной выставки «Индустрия туризма» (Казань, 2006)
          .slide
            .slide-content
              img(src="img/about-1.jpg", alt="")
              p Сертификат 11-й специализированной выставки «Индустрия туризма» (Казань, 2006)
                
          .slide
            .slide-content
              img(src="img/about-1.jpg", alt="")
              p Сертификат 11-й специализированной выставки «Индустрия туризма» (Казань, 2006)
        p В высоком сезоне мы работаем на основе гарантированных блоков.
        p На сайте представлены основные базы размещения, однако, тесные контакты позволяют предложить практически любой санаторий, гостиницу или пансионат в зависимости от интересов или пожеланий клиентов. Мы постарались дать наиболее полные сведения о каждом объекте и, надеемся, что любой посетитель и, в первую очередь, работающие с нами агентства найдут на нём необходимую для себя информацию, сайт станет для вас неоценимым помощником в работе и выборе поездки.
        p Мы рады видеть Вас в числе партнеров и клиентов.
        p Успешных Вам покупок и продаж 
          br
          | С наилучшими пожеланиями и надеждой на сотрудничество.











