extends layout.pug

block content
  .empty
  header.inner-header
    .grid.grid--container
      a(href="").btn.btn--inner
        i.fa.fa-angle-left
        span Назад
      h1 Информация для турагентств

  .grid.grid--container
    .row
      .col.col--lg-8.col--lg-offset-2
        h3 Уважаемые коллеги!
        p Туроператор  "Экка-Сочи-Трэвел" благодарит Вас за внимание, оказанное нашей фирме, и за то, что решили сотрудничать с нами!
        p В летний период мы работаем на основе гарантированных блоков мест в санаториях, пансионатах, базах отдыха, гостиницах, мини-отелях.
        p От цен, опубликованных на сайте, мы предоставляем агентствам скидки. Для доступа к ним достаточно  перейти по  ссылке 
          a(href="").link http://www.ekka.info/auth
          |  (Вход для агентств ) и  зарегистрироваться.
        h3 Туроператорская деятельность
        .regular-slider.regular-slider--agencies
          .slide
            .slide-content
              img(src="img/agencies-1.jpg", alt="")
              p Бронирование и размещение
          .slide
            .slide-content
              img(src="img/agencies-2.jpg", alt="")
              p Организация группового молодежного отдыха
          .slide
            .slide-content
              img(src="img/agencies-3.jpg", alt="")
              p Горнолыжный курорт Красная Поляна
          .slide
            .slide-content
              img(src="img/agencies-1.jpg", alt="")
              p Горнолыжный курорт Красная Поляна
        p Мы накопили достаточный опыт и зарекомендовали себя, как надёжный и стабильный туроператор, постоянно повышающий качество обслуживания клиентов. Этому во многом способствовали выбор надёжных партнёров, профессионализм сотрудников и внимательное отношение к людям.
        p Будем рады Вашему звонку, письму, мы с удовольствием предоставим Вам всю интересующую информацию, каталоги, обсудим условия сотрудничества.
        p Приезжайте в любое время! Мы будем рады видеть Вас в нашем офисе.
        p Мы в реестре туроператоров:

        a(href="").link.link--external http://www.russiatourism.ru/operators/show.php?id=5d0817f7-d0d8-dca0-dec4-54b36e61446e










