block card
  .card-container
    .card
      .card__img
        .card__plate.card__plate--type-1 Акция
        .card__plate.card__plate--type-2
          span - 2 500
          span.ruble
        img(src="img/card-1.jpg", alt="")
      .card__middle
        .card__middle_top
          .title-stars
            .card__title Свиссотель Сочи Камелия или отель с длинным названием
            .stars.card__stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          .adress.card__adress
            i.fa.fa-map-marker
            span Сочи, Курорный проспект, 89
          .card__anons Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции требуют определения и уточнения модели развития. Идейные соображения высшего порядка&hellip;
        .card__services
          i.icon.icon--big.flaticon-bathtub
          i.icon.icon--big.flaticon-bed
          i.icon.icon--big.flaticon-cocktail
          i.icon.icon--big.flaticon-air-conditioner
          i.icon.icon--big.flaticon-television
      .card__right
        .card__rating
          .card__rating_title оценка
          .card__rating_number 8.7
        .card__main-info
          .card__sale 15 500
          .card__price
            span 13 000
            span.ruble
          .card__guests 2 ночи для 1 гостя
        a(href="/hotel.html").btn.btn--middle.btn--secondary
          span Подробнее
          i.fa.fa-angle-right

    .card__bottom
      .tabs
        nav.tabs__nav
          li: a(href="#").active Номера
          li: a(href="#") Детали
          li: a(href="#") Отзывы
          li: a(href="#") Карта
        .tabs__content.tabs__content--active
          .rooms
            .accordion
              header.accordion__header
                h3.accordion__title Стандартный номер
                .accordion__icon
                  i.fa.fa-angle-up

              .accordion__body-visible
                form.room
                  .room__img
                    img(src="img/room-2.jpg", alt="")
                  .room__parameters
                    .room__title
                      a(href="") Двухместный номер бизнес-класса с 2 отдельными большими кроватями
                    .room__parameters__items
                      .room__services
                        .room__subtitle Удобства
                        i.icon.flaticon-laptop
                        i.icon.flaticon-laptop
                        i.icon.flaticon-laptop
                      .room__guests
                        .room__subtitle Число гостей
                        i.icon.icon-avatar
                        i.icon.icon-avatar
                        i.icon.icon-plus
                        i.icon.icon--small.icon-avatar
                      .room__count
                        .room__subtitle Количество
                        select
                          option 1
                          option 2
                          option 3
                      .room__book
                        .room__price
                          span 8 700
                          span.ruble
                        .btn.btn--primary Забронировать

              .accordion__body-unvisible
                -for(var i = 0; i < 3; i++)
                  form.room
                    .room__img
                      img(src="img/room-2.jpg", alt="")
                    .room__parameters
                      .room__title
                        a(href="") Двухместный номер бизнес-класса с 2 отдельными большими кроватями
                      .room__parameters__items
                        .room__services
                          .room__subtitle Удобства
                          i.icon.flaticon-laptop
                          i.icon.flaticon-laptop
                          i.icon.flaticon-laptop
                        .room__guests
                          .room__subtitle Число гостей
                          i.icon.icon-avatar
                          i.icon.icon-avatar
                          i.icon.icon-plus
                          i.icon.icon--small.icon-avatar
                        .room__count
                          .room__subtitle Количество
                          select
                            option 1
                            option 2
                            option 3
                        .room__book
                          .room__price
                            span 8 700
                            span.ruble
                          .btn.btn--primary Забронировать

          .accordion
            header.accordion__header
              h3.accordion__title Улучшенный номер
              .accordion__icon
                i.fa.fa-angle-up

            .accordion__body-visible
              form.room
                .room__img
                  img(src="img/room-2.jpg", alt="")
                .room__parameters
                  .room__title
                    a(href="") Двухместный номер бизнес-класса с 2 отдельными большими кроватями
                  .room__parameters__items
                    .room__services
                      .room__subtitle Удобства
                      i.icon.flaticon-laptop
                      i.icon.flaticon-laptop
                      i.icon.flaticon-laptop
                    .room__guests
                      .room__subtitle Число гостей
                      i.icon.icon-avatar
                      i.icon.icon-avatar
                      i.icon.icon-plus
                      i.icon.icon--small.icon-avatar
                    .room__count
                      .room__subtitle Количество
                      select
                        option 1
                        option 2
                        option 3
                    .room__book
                      .room__price
                        span 8 700
                        span.ruble
                      .btn.btn--primary Забронировать

            .accordion__body-unvisible
              -for(var i = 0; i < 2; i++)
                form.room
                  .room__img
                    img(src="img/room-2.jpg", alt="")
                  .room__parameters
                    .room__title
                      a(href="") Двухместный номер бизнес-класса с 2 отдельными большими кроватями
                    .room__parameters__items
                      .room__services
                        .room__subtitle Удобства
                        i.icon.flaticon-laptop
                        i.icon.flaticon-laptop
                        i.icon.flaticon-laptop
                      .room__guests
                        .room__subtitle Число гостей
                        i.icon.icon-avatar
                        i.icon.icon-avatar
                        i.icon.icon-plus
                        i.icon.icon--small.icon-avatar
                      .room__count
                        .room__subtitle Количество
                        select
                          option 1
                          option 2
                          option 3
                      .room__book
                        .room__price
                          span 8 700
                          span.ruble
                        .btn.btn--primary Забронировать

        .tabs__content
          p Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения систем массового участия. Товарищи! новая модель организационной деятельности требуют определения и уточнения соответствующий условий активизации. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании модели развития.
          p Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение новых предложений. Не следует, однако забывать, что рамки и место обучения кадров представляет собой интересный эксперимент проверки существенных.
          .row
            .col.col--lg-6
              h3 Популярные удобства
              .row
                .col.col--lg-6.col--md-6.col--sm-6
                  .services
                    .service
                      .service__ico
                        i.flaticon-bed-1
                      .service__title 1 кровать размера King
                    .service
                      .service__ico
                        i.flaticon-laptop
                      .service__title wi-fi
                    .service
                      .service__ico
                        i.flaticon-air-conditioner
                      .service__title Кондиционер
                .col.col--lg-6.col--md-6.col--sm-6
                  .services
                    .service
                      .service__ico
                        i.flaticon-television
                      .service__title спутниковое ТВ
                    .service
                      .service__ico
                        i.flaticon-laptop
                      .service__title wi-fi
                    .service
                      .service__ico
                        i.flaticon-air-conditioner
                      .service__title Кондиционер
            .col.col--lg-6
              .row.special-gallery.gallery
                - for (var a = 0; a < 2; a++)
                  .col.col--lg-6.col--md-6
                    a(href="img/direction-city-1.jpg")
                      img(src="img/direction-city-1.jpg", alt="")
                - for (var b = 0; b < 3; b++)
                  .col.col--lg-4.col--md-4
                    a(href="img/direction-city-2.jpg")
                      img(src="img/direction-city-2.jpg", alt="")
                - for (var c = 0; c < 2; c++)
                  .col.col--lg-6.col--md-6
                    a(href="img/direction-city-1.jpg")
                      img(src="img/direction-city-1.jpg", alt="")


        .tabs__content
          form.comment.comment-form
            .comment__left
              .comment__photo
                img(src="img/user.jpg", alt="")
            .comment__right
              .comment__name Александр Романов
              .date-choose.comment__date
              .likes
                span Ваша оценка
                i.fa.fa-heart
                i.fa.fa-heart
                i.fa.fa-heart
                i.fa.fa-heart
                i.fa.fa-heart
              textarea(placeholder="Ваш отзыв").comment__textarea
              button.btn.btn--primary Отправить
          - for (var i = 0; i < 3; i++)
            .comment
              .comment__left
                .comment__photo
                  img(src="img/user.jpg", alt="")
              .comment__right
                .comment__name Александр Романов
                .comment__date
                  span Период пребывания
                  i.fa.fa-calendar-o
                  span Пт, 13 янв &mdash; Вс, 15 янв
                .likes
                  span Оценка
                  i.fa.fa-heart.active
                  i.fa.fa-heart.active
                  i.fa.fa-heart.active
                  i.fa.fa-heart.active
                  i.fa.fa-heart
                .comment-text Не следует, однако забывать, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации. С другой стороны постоянное информационно - пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения

          .text-center
            .btn.btn--primary Все отзывы


        .tabs__content
          .map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2816.357331816965!2d38.99155131561063!3d45.098823979098434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDA1JzU1LjgiTiAzOMKwNTknMzcuNSJF!5e0!3m2!1sru!2sru!4v1492419182912" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)