extends layout.pug

block content
  .empty.empty--special

  .direction-big
    img(src="img/sochi.jpg", alt="")
    .grid.grid--container.relative
      .direction-big__text
        h1.direction-big__title Сочи
        a(href="").direction-big__country Россия

  .grid.grid--container.page-section

    a(href="").back
      i.fa.fa-angle-left
      span Назад к городам России

    h1.inner-h1 Отдых в Сочи

    h2.inner-h2 Полезная информация

    .tabs
      nav.tabs__nav
        li: a(href="#О_городе").active О городе
        li: a(href="#Лечение") Лечение
        li: a(href="#Развлечения") Развлечения
        li: a(href="#Экскурсии") Экскурсии
        li: a(href="#Активный отдых") Активный отдых
      .tabs__content.tabs__content--active
        .row
          .col.col--lg-6
            p Сочи курорт федерального значения, на котором уже более 100 лет проводится лечение многих заболеваний.
            p Сочинский район или как его еще называют Большой Сочи, протянулся почти на 150 км вдоль побережья Черного моря, от границы с Туапсинским районом до Абхазии. Большой Сочи делится на 4 административных района: Лазаревский, Центральный, Хостинский и Адлерский.
            p Климат в Сочи единственный в своем роде: это самые северные в мире субтропики, соседствующие с вечными льдами. Средняя температура воздуха на побережье с апреля по ноябрь - около 18 градусов, а в холодный период - около 7 градусов тепла.
            p Более 90% территории Сочи составляют горы и предгорья Западного Кавказа. Могучие горные вершины закрывают город от холодных северных и восточных ветров, а море дышит влагой и теплом. Только в Сочи вы сможете утром покататься на лыжах по снежной целине, а после обеда понежиться в тени пальм и поплескаться в морской воде.
            p С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Таким образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Товарищи! начало повседневной работы по формированию позиции требуют от нас анализа форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Товарищи! новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий.
          .col.col--lg-6
            .row.special-gallery
              - for (var x = 0; x < 2; x++)
                .col.col--lg-6.col--md-6.col--sm-6
                  img(src="img/direction-city-1.jpg", alt="")
              - for (var y = 0; y < 3; y++)
                .col.col--lg-4.col--md-4.col--sm-4
                  img(src="img/direction-city-2.jpg", alt="")
              - for (var y = 0; y < 2; y++)
                .col.col--lg-6.col--md-6.col--sm-6
                  img(src="img/direction-city-1.jpg", alt="")
      -for (var i = 0; i < 5; i++)
        .tabs__content
          p Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения существенных финансовых и административных условий. Не следует, однако забывать, что укрепление и развитие структуры в значительной степени обуславливает создание существенных финансовых и административных условий. Не следует, однако забывать, что сложившаяся структура организации требуют от нас анализа форм развития.
          p Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации систем массового участия. Таким образом постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что 



    h2.inner-h2 Лучшие объекты Сочи
    .tabs
      nav.tabs__nav
        li: a(href="#Санатории").active Санатории
        li: a(href="#Пансионаты") Пансионаты
        li: a(href="#Гостиницы") Гостиницы
        li: a(href="#Гостевые дома") Гостевые дома
        li: a(href="#Коттеджи") Коттеджи
        li: a(href="#Базы отдыха") Базы отдыха
      .tabs__content.tabs__content--active
        .hotels.row
          - for (i = 0; i < 6; i++)
            .col.col--lg-4.col--md-4.col--sm-4
              .hotel
                .hotel__img
                  img(src="img/_hotel-2.jpg", alt="")
                .hotel__header
                  .hotel__header_left
                    .hotel__title Black Sea / Чёрное море
                  .hotel__header_right
                    .stars.hotel__stars
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                .hotel__adress г. Сочи, Курортный проспект, 83
                a(href="").link Подробнее

      - for (var x = 0; x < 5; x++)
        .tabs__content
          p Повседневная практика показывает, что дальнейшее развитие различных форм деятельности играет важную роль в формировании дальнейших направлений развития. С другой стороны новая модель организационной деятельности.

      .all-objects-btn
        .btn.btn--primary
          span Все санатории в Сочи
          i.fa.fa-angle-right


  include viewed.pug









