extends layout.pug

block content
  .empty
  header.inner-header
    .grid.grid--container
      a(href="").btn.btn--inner
        i.fa.fa-angle-left
        span Назад
      h1 Условия использования сайта

  .grid.grid--container
    .row
      .col.col--lg-8.col--lg-offset-2
        p Допускается свободное копирование и воспроизведение информации, размещенной на официальном сайте туроператора «Экка-Сочи-Трэвел», при условии указания ссылки на источник такой информации (в сетевых СМИ – гиперссылки на соответствующую интернет-страницу с уникальным сетевым адресом).

        p При переходе по гиперссылкам, размещенным на сайте, на внешние по отношению к ekka.info информационные ресурсы пользователь покидает интернет-представительство туроператора «Экка-Сочи-Трэвел». Редакция сайта ekka.info не несет ответственности за достоверность сведений, составляющих внешние по отношению к ekka.info информационные ресурсы, а также за актуализацию и периодичность обновления соответствующей информации в их составе.







