extends layout.pug

block content
  .empty.empty--special
  
  .image-background

    .grid.grid--container
      .row
        .col.col--lg-4.col--lg-offset-4
          form.sending-form
            .sending-form__title Вход для турагентств
            p На ваш e-mail выслана ссылка для восстановления пароля.

