extends layout.pug

block content
  .empty.empty--special
  
  .image-background

    .grid.grid--container
      .row
        .col.col--lg-4.col--lg-offset-4
          form.sending-form
            .sending-form__title Восстановление пароля
            .row
              .col.col--lg-12
                .form-group
                  label Email
                  .input-with-icon
                    .input-with-icon__icon
                      i.fa.fa-lock
                    input(type="email")
                p Введите адрес электронной почты, который вы указывали при регистрации.
            .row.row--sm-center.sending-form__bottom
              .col.col--lg-4.col--md-4.col--xs-4
                button.btn.btn--primary Отправить
              .col.col--lg-8.col--md-8.col--xs-8.text-right
                button.btn.btn--primary.btn--type-2 Вспомнили пароль?

