<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Document
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="styles/css/milligram.css")
  body
    .container
      ul
        li: a(href="_index.html") Главная
        li: a(href="agencies.html") Агентствам
        li: a(href="room.html") Номер
        li: a(href="vacancies.html") Вакансии
        li: a(href="hotel.html") Отель
        li: a(href="search.html") Поиск
        li: a(href="directions.html") Направления
        li: a(href="country.html") Страна
        li: a(href="room.html") Номер
        li: a(href="room.html") Номер
        li: a(href="room.html") Номер