<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="utf-8")
    title Ekka
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
  body

    .background

      header.main-header.main-header-black
        .grid.grid--container
          .main-header__container
            .main-header__logo
              .logo
            nav.header-nav
              li.header-nav__link
                a(href="") Специальные предложения
              li.header-nav__link
                a(href="") Направления
              li.header-nav__link
                a(href="") Туристам
              li.header-nav__link
                a(href="") О компании
              li.header-nav__link
                a(href="") Агентствам
              li.header-nav__link
                a(href="") Контакты
            .main-header__phone +7 999 55-32-41

      block content


    script(src="js/jquery.min.js")
    script(src="js/masonry.pkgd.min.js")
    script(src="js/slick.min.js")
    script(src="js/main.js")