extends layout.pug

block content
  .empty

  .grid.grid--container.page-section

    - for (var y = 0; y < 4; y++)
      .card-container.card--offer
        .card
          .card__img
            img(src="img/special-offer.jpg", alt="")
          .card__middle
            .card__middle_top
              .title-stars
                .card__title Горнолыжный отдых 2017 в ГК «Bridge Resort»
              .adress.card__adress
                i.fa.fa-map-marker
                span Сочи, Курорный проспект, 89
              .card__anons В дни школьных каникул предлагаем совершить увлекательную поездку в  яркий в любое время года Олимпийский Сочи!&hellip;
          .card__right
            .ta Скидка туристическим агентствам 10%
            .card__main-info
              .card__price
                span от 5 500
                span.ruble
              .card__guests от 3 дней
            a(href="").btn.btn--middle.btn--secondary
              span Подробнее
              i.fa.fa-angle-right

    include pagination.pug







