extends layout.pug

block content
  .empty

  .grid.grid--container.page-section
    .row
      .col.col--lg-8.col--lg-offset-2
        .transfer-success
          .transfer-success__img
          .transfer-success__text
            .transfer-success__title Оплата прошла успешно!
            .transfer-success__subtitle Квитанция об оплате отправлена на указанный вами email.
            .row.row--lg-center
              .col.col--lg-6
                a(href="").btn.btn--primary Выбрать трансфер
              .col.col--lg-6
                a(href="").link На главную










