extends layout.pug

block content
  .empty
  header.inner-header
    .grid.grid--container
      a(href="").btn.btn--inner
        i.fa.fa-angle-left
        span Назад
      h1 Вакансии

  .grid.grid--container
    .row
      .col.col--lg-8.col--lg-offset-2
        h3 Уважаемый посетитель сайта!
        p Требуется менеджер отдела продаж.
        p Требования, предъявляемые компанией к соискателю:
        ul.list
          li Прямые продажи
          li Ведение переговоров с клиентом на всех этапах заключения сделки, ведение документации.
          li Работа с возражениями
          li Работа в режиме многозадачности
        h3 Контактная информация для соискателей 
        p Мартиросян Карина
        p (8622) 66-50-46
        p Резюме просим присылать на 
         a(href="").link info@ekka.info









