$primary = #21a5de
$secondary = #ffd35e
$red = #ff5e5e
$green = #14c88b
$gray = #d1d1d1
$light-gray = #eee

$main = #111

$radius = 4px

$shadow = 0 10px 20px rgba($main, .1)

$font = 'Proxima Nova', 'Arial', 'Helvetica', sans-serif