.hero
  align-items center
  display flex
  height 55rem
  overflow hidden
  margin-bottom 8rem
  position relative
  width 100%
  &__bg
    animation heroScale 2s ease
    background url('../../img/hero.jpg') no-repeat 50%
    background-position-Y 75%
    background-size cover
    left 0
    height 100%
    position absolute
    top 0
    transition transform .2s
    width 100%
    &:before
      content ''
      background rgba($main, .6)
      left 0
      height 100%
      position absolute
      top 0
      width 100%
      z-index 0
  &-content
    position relative
    z-index 5
  &__form
    display flex
    animation heroUp 1s forwards
  .index-header
    animation heroDown 1s forwards
    color #fff
    font-size 3.6rem
    font-weight 800
    margin 0
    margin-bottom .5rem
  &__input
    display inline
    // overflow hidden
    position relative
    width 20%
    &:before
      background-color $light-gray
      content ''
      height 2.4rem
      position absolute
      right 0
      top 1.2rem
      width 1px
    .select2-container--default .select2-selection--single
      border 0
      border-radius 0
      height 4.8rem
    .select2-container--default .select2-selection--single .select2-selection__rendered
      line-height 4.8rem
    .select2-container--default .select2-selection--single .select2-selection__arrow
      height 4rem
    // &:after
    //     background $secondary
    //     bottom -1rem
    //     content ''
    //     height 3px
    //     left 0
    //     position absolute
    //     transition bottom .3s
    //     width 100%
    &:nth-child(4):before
      display none
    &--active
      &:after
        bottom 0
    input, select
      border none
      border-radius 0
      cursor pointer
      display block
      font-weight 400
      float left
      height 4.8rem
      margin 0
      padding-left 2rem
      padding-right 1rem
      width 100%
    &:first-child
      width 25%
      input
        border-radius $radius 0 0 $radius
  &__btn
    background-color $secondary
    border none
    border-radius 0 $radius $radius 0
    color $main
    cursor pointer
    font-size 1.8rem
    font-weight 600
    height 4.8rem
    text-align center
    width 15%
  
  &-pickmeup
    margin-top 48px



.white-block
  background-color #fff
  display block
  padding 7rem 0

.page-section
  margin-bottom 10rem

.offer
  position relative
  &__title
    display block
    font-size 1.8rem
    font-weight 700
    z-index 1
  &__img
    display block
    img
      width 100%
  &__plate
    background-color $secondary
    display inline-block
    border-radius $radius
    color $main
    font-size 1.8rem
    font-weight 600
    left 1rem
    position absolute
    padding .2rem 1rem
    top 1rem
    z-index 10
    .ruble:before
      font-size 1.8rem
      font-weight 600

.popular-directions
  display block
  margin-left -1.6rem
  margin-right -1.6rem

.masonry
  &-column
    padding 0 1.6rem 3.2rem 1.6rem
    // width 41.2rem
    width 33.33%
  // &__country
  //   display none

.direction
  display block
  background-size cover !important
  height 47rem
  shadow()
  &--type-2
    height 27rem
  &--type-3
    height 37rem
  &__img
    display none
  &__text
    color #fff
    bottom 0
    padding 1.6rem 2.4rem
    padding-right 1rem
    position absolute
  &__city
    font-size 3rem
    font-weight 700
    line-height 1
    text-transform uppercase
  &__country
    font-size 1.6rem
    opacity .7


.subheader
  margin-bottom 4rem
  clearfix()
  a
    color $main
    text-decoration none
  h2
    line-height 1
    margin 0
  .left
    display block
    float left
    width 60%
  .right
    display block
    float left
    width 40%
  .popular-direction-desktop
    float right
    .btn
      margin-right 1rem
  .popular-direction-mobile
    display none

.special-slider
  &-nav
    font-size 3rem
    float right
    line-height 1
    .fa
      color $gray
      cursor pointer
      line-height 1
      &:first-child
        margin-right 2rem
      &:before
        line-height 1
        transition color .1s
      &:hover
        &:before
          color $main
  .slide
    display flex
    margin-right 3rem
    text-decoration none
    & *
      text-decoration none
    &__img
      display inline-block
      margin-right 1.6rem
    &__text
      align-content space-between
      display flex
      flex-wrap wrap
    &__top
      display block
      padding-top 1rem
      width 100%
    &__bottom
      align-self flex-end
      display block
      padding-bottom 1rem
      width 100%
    &__title
      color $main
      font-weight 600
      font-size 1.8rem
    &__price
      color $primary
      font-size 3rem
      font-weight 600
      line-height 1
    &__price-name
      color $gray

#map
  width 100%
  height 55vh

.index-map
  position relative
  &__info
    background #fff
    bottom 0
    height 30rem
    margin auto
    padding 2rem
    position absolute
    right 8%
    top 0
  &__title
    font-size 1.6rem
    font-weight 600
    text-transform uppercase
  &__text
    margin-bottom 2rem