.inner-header
  align-items center
  background url('../../img/header.jpg') 50% no-repeat
  background-size cover
  display flex
  height 10rem
  justify-content center
  margin-bottom 4rem
  margin-top -3.8rem
  position relative
  text-align center
  .grid
    position relative
  h1
    color #fff
    line-height 1
    margin 0
  .btn--inner
    position absolute
    left 0
    height 3.2rem
    // top .2rem
    margin 0 auto
    top 0
    bottom 0


.gallery
  display flex
  flex-wrap wrap
  justify-content space-between
  margin-bottom 2rem
  margin-top 2.5rem
  &__img
    display block
    float left
    margin-bottom .8rem
    width 8.8rem
    height 8.8rem
    img
      width 100%


.comment
  display flex
  margin-bottom 3rem
  &-form
    margin-bottom 5rem
  &__date
    display inline-block
    span
      margin-right 2rem
    .fa
      color $secondary
      margin-right 1rem
  &__left
    margin-right 2rem
  &__right
    width 100%
  &__photo
    border-radius $radius
    display inline-block
    height 7.2rem
    overflow hidden
    width 7.2rem
    &.nophoto
      background url("../../img/nophoto.jpg") no-repeat 50%
      background-size cover
      cursor pointer
  &__name
    font-size 1.8rem
    font-weight 700
    margin-bottom 1rem
  &__textarea
    margin-bottom 1rem

#nophoto
  display none

.room-change
  h2
    line-height 1
  &__form
    display flex
    // margin-top 3rem
    // justify-content space-between
    .datepicker-range
      border-radius $radius 0 0 $radius
      display block
      float left
      margin 0
      width 40%
    .guest-clicker
      &__input
        border-radius 0 $radius $radius 0
        border-left 0
        display block
        float left
        margin 0
        padding-left 1rem
    input,
    select
      margin 0 1rem
    .btn
      display inline-block
      margin-left auto
      width initial


h3
  font-size 2.4rem
  font-weight 600

.regular-slider
  margin-left -1rem
  margin-right -1rem
  .slide
    margin 0 1rem
  img
    width 100%
  p
    line-height 1.4


.slick-prev,
.slick-next
  top 35%
  &:before
    &:hover
      color $primary

.slick-prev:before,
.slick-next:before
  color $gray
  font-family FontAwesome
  font-size 2.4rem


.slick-prev:before
  content '\f104'


.slick-next:before
  content '\f105'

.tabs
  &__nav
    margin-bottom 3rem
    position relative
    &:after
      bottom -.7rem
      // border-bottom 1px solid $light-gray
      content ''
      left 0
      position absolute
      width 100%
      z-index 0
    li
      display inline-block
      a
        color #777
        padding 0 1.8rem
        text-decoration none
        &:hover
          color $main
        &.active
          color $main
          font-weight 600
          position relative
          &:before
            content ''
            background-color $secondary
            bottom -1rem
            height 2px
            left 0
            position absolute
            width 100%
            z-index 10
  &__content
    display none
    & > .hotels
      margin-top 4rem
    &--active
      display block

  &--offset
    margin-bottom 5rem

.accordion
  &__title
    display inline-block
    line-height 1
    width 25rem
  &__icon
    border 1px solid $light-gray
    border-radius 50%
    color $primary
    display inline-block
    height 2.4rem
    text-align center
    transition all .2s
    width 2.4rem
    .fa
      transform translateY(-2px)
      transition transform .2s
    .fa:before
      line-height 2.4rem
    &:hover,
    &--active
      background $primary
      border-color $primary
      color #fff
      cursor pointer
    &--active
      .fa
        transform rotate(180deg) translateX(0px)
  &__body-unvisible
    display none


.aside-map
  height 25rem
  overflow hidden
  width 100%
  iframe
    height 25rem
    width 100%

.transfer-success
  background-color #fff
  border 1px solid $light-gray
  box-shadow $shadow
  height 35rem
  margin-top 4rem
  clearfix()
  &__img
    background url('../../img/transfer.jpg')
    background-size cover
    display block
    float left
    height 100%
    width 40%
    img
      display block
  &__text
    display block
    float left
    padding 4rem
    width 60%
  &__title
    font-size 2.2rem
    font-weight 600
    margin-top 4rem
  &__subtitle
    color $gray
    margin-bottom 4rem

.aside-btn
  margin-top 14.5rem

.account-nav
  border 1px solid $light-gray
  a
    color $gray
    line-height 4rem
    text-decoration none
  &__link
    display block
    height 4rem
    padding-left 1.8rem
    &--active
      position relative
      &:before
        content ''
        background $primary
        height 100%
        left -1px
        position absolute
        top 0
        width 2px
      a
        color $primary
        font-weight 600
    &:not(:last-child)
      border-bottom 1px solid $light-gray


.organisation-info
  margin-top 3rem
  p
    margin 0
    margin-bottom 1rem
  strong
    display block
    // margin .8rem 0


