.room-img
  margin-bottom 2rem
  width 100%

.services
  margin-bottom 2rem
  &__title
    font-size 1.8rem
    font-weight 600
  .service
    &__ico
      display inline-block
      margin-right 1rem
      i
        &:before
          color #555
          font-size 3.2rem
          vertical-align middle
    &__title
      display inline-block

.inner-aside
  margin-top 2.5rem

.room-form-book
  margin 5rem 0
  .room__parameters__items
    display flex
    align-items flex-start
  .room__parameters
    height initial
    padding 1rem
    width 100%
  .form-group
    margin-bottom 0
  .datepicker-range
    margin-top 0
  .card__guests
    color $main
  .room__book
    align-self center
  .room__guests
    margin-bottom .2rem
  .card__main-info
    align-self center
  .form-group
    .room__subtitle
      margin-bottom .5rem
  &--ta
    .btn
      display block
      margin-bottom .5rem
      text-align center