.search-aside
  h3
    margin-top 0
  .form-group
    margin-bottom 3rem

.card-container
  border 1px solid $light-gray
  margin-bottom 2rem
  transition box-shadow .4s, border-color .5s
  &:hover
    box-shadow 0 12px 30px rgba($gray, .3)
    border-color $gray
  &--active
    border-color rgba($main, .7)
    &:hover
      border-color rgba($main, .7)
.card
  cursor pointer
  display flex
  justify-content space-between
  // margin-bottom 2rem
  &__img
    overflow hidden
    position relative
    img
      display block
  &--offer &__img
    max-width 35rem
    img
      max-height 21rem
      width 100%
  &__plate
    color #fff
    border-radius $radius
    font-weight 600
    position absolute
    padding .5rem 1rem
    top 1rem
    .ruble:before
      font-weight 700
    &--type-1
      background-color $green
      left 1rem
    &--type-2
      background-color $red
      right 1rem
  &__middle
    align-content space-between
    display flex
    flex-basis 55%
    flex-wrap wrap
    padding 2rem
    &_top
      max-height 15.5rem
      overflow hidden
  &__right
    align-content space-between
    display flex
    flex-basis 15rem
    flex-wrap wrap
    justify-content flex-end
    padding 2rem
    text-align right
  &__title
    font-size 2.2rem
    font-weight 700
    line-height 1.1
    margin-bottom 1rem
  &__services
    i:not(:last-child)
      margin-right 2rem
  &__rating
    display block
    width 100%
    &_title
      color $primary
      font-size 1.1rem
    &_number
      color $primary
      font-size 2.4rem
      font-weight 600
      letter-spacing 1.2px
      line-height 1
  &__price
    font-size 3rem
    font-weight 600
    line-height 1
    .ruble:before
      font-size 3rem
      font-weight 600
  &__sale
    color $gray
    text-decoration line-through
  &__guests
    color $gray
    font-size 1.2rem


.card__bottom
  background-color #fcfcfc
  padding 2rem
  display none
