@media(max-width 1100px)
  .grid--container
    max-width 96%
  .header-nav
    display none
  .main-header
    &__phone
      display none
  .menu-toggle
    display block
  .masonry
    &-column
      padding 0 1.3rem 3.2rem 1.3rem
      width 31.1rem

@media(max-width 768px)
  // .grid--container
  //   max-width 96%
  .masonry
    &-column
      padding 0 1.6rem 3.2rem 1.6rem
      width 38rem


@media(max-width 767px)
  .inner-h1
    font-size 2.4rem
    margin 2rem 0
  .card
    display block
    &__img
      height 30rem
      img
        width 100%
    &__middle
      &_top
        max-height initial
    &__anons
      margin-bottom 2rem
    &__right
      display block
      text-align left
    &__rating
      margin-bottom 2rem
    &__guests
      margin-bottom 2rem
    .btn
      text-align center
      width 100%
  .title-stars
    display block
    margin-bottom 1rem
    .stars
      text-align left
  .inner-header
    h1
      font-size 2.4rem
  .btn--inner
    padding 0.5rem 1rem
    span
      display none
  .comment
    flex-wrap wrap