h1
  font-size 3.6rem
h2
  font-size 3rem
  font-weight 600
  margin-bottom 3.2rem
h3
  line-height 1
  margin-bottom 2rem
  margin-top 3rem
  & + .responsive-table .table
    margin 0
h5
  font-size 1.8rem

.inner-h1
  font-size 3rem
  font-weight 600
  line-height 1
  & + .adress
    margin-top - 1.5rem
.inner-h2
  font-size 2.4rem
  line-height 1
  font-weight 600
  margin-top 1rem


