@import 'helpers/variables'
@import 'helpers/mixins'
@import 'base/base'
@import 'base/typography'
@import 'base/form'
@import 'base/icon'
@import 'helpers/animations'

// Pages
@import 'pages/index'
@import 'pages/inner'
@import 'pages/agencies'
@import 'pages/hotel'
@import 'pages/room'
@import 'pages/search'
@import 'pages/directions'
@import 'pages/transfer'
@import 'pages/offer'
@import 'pages/contacts'
@import 'pages/404'

.grid--container
  max-width 1216px

.row
  margin-left -16px
  margin-right -16px

.background
  background #fafafa
  padding-bottom 1rem

.main-header
  background #fff
  border-bottom 1px solid $light-gray
  left 0
  position fixed
  top 0
  transition box-shadow .4s, border-bottom .1s, background-color .2s, color .2s
  width 100%
  z-index 200
  &__container
    align-items center
    justify-content space-between
    display flex
    height 7.2rem
  &__logo
    width 20%
  &__phone
    color $main
    font-weight 600
    text-align right
    width 10%

.logo
  background url('../../img/logo_white.png') no-repeat
  background-size contain
  display inherit
  height 5rem
  width 23rem


.header-nav
  width 70%
  text-align center
  li
    display inline-block
    margin 0 .8rem
    position relative
    a
      color $main
      font-size 1.2rem
      font-weight 600
      letter-spacing .3px
      text-decoration none
      text-transform uppercase
      transition color .2s
    &:hover
      a
        color $primary
  .phone
    color $main


.main-header
  &--black
    background-color rgba($main, .7)
    border-bottom none
    li
      a
        color #fff
    & .main-header__phone
      color #fff
    .logo
      background url('../../img/logo.png') no-repeat
    .menu-open
      background-color #fff
      &:before,
      &:after
        background #fff
  &--scroll
    background-color #fff
    border-color transparent
    box-shadow 0px 5px 8px rgba($gray,0.3)
    top 0 !important
    li
      a
        color $main
    .logo
      background url('../../img/logo_white.png') no-repeat
    .main-header__phone
      color $main
    .menu-open
      background-color $main
      &:before,
      &:after
        background $main
  &--menu
    background-color #030616
    border-bottom none
    .logo
      background url('../../img/logo.png') no-repeat


.site-content
  overflow hidden
  &__background
    transition transform .4s cubic-bezier(1, 0, .2, .9) .1s
    &--active
      transform translateX(70%)

.hotel
  &__img
    display block
    margin-bottom 1rem
    img
      display block
      width 100%
  &__header
    clearfix()
    &_left
      float left
      width 75%
    &_right
      float right
  &__title
    line-height 1.2
    font-size 2.2rem
    font-weight 600
    margin-bottom 1rem
  // &__stars
    // width 20%
  &__adress
    color #bbb
    margin-bottom 1rem
  &__anons
    margin-bottom 1rem


.map
  iframe
    height 40rem
    width 100%

.main-footer
  background #fff
  margin-top 8rem
  padding-top 8rem
  position relative
  &:before
    content ""
    background url('../../img/svg/wave.png')
    background url('../../img/svg/wave.svg')
    display block
    left 0
    height 6px
    position absolute
    top -3px
    width 100%
    z-index 10
  &__phone
    line-height 1
    margin-bottom 1rem
    & .code
      display inline-block
      font-weight 300
      font-size 3rem
    & .phone-number
      display inline-block
      font-size 3rem
      font-weight 600
  &__header
    font-weight 700
    margin-bottom 2rem
  &__navigation
    a
      color $main
      font-size 1.2rem
      text-decoration none
      &:hover
        color $primary
  &__socials
    line-height 1
    margin-top -.5rem
    & .social
      color $main
      display inline-block
      margin-right 1rem
      text-decoration none
      .fa
        color $gray
        margin-right 1rem
      &:hover
        color $primary
        .fa
          color $primary

  &__bottom
    border-top 1px solid $light-gray
    margin-top 8rem
    padding-bottom 1rem
    padding-top 2.5rem

.image-background + .main-footer,
.background + .main-footer,
.contacts-team + .main-footer
  margin-top 0

// .webformula
//   text-align right

.title-stars
  display flex
  .stars
    text-align right
    min-width 70px


.pagination
  text-align center
  margin-top 5rem
  &__link
    border-radius 50%
    color $main
    display inline-block
    height 4rem
    font-size 1.6rem
    line-height 3.6rem
    margin-right 2rem
    text-align center
    text-decoration none
    width 1rem
    &--active
      border 2px solid $secondary
      width 4rem


.menu-open
  background $main
  display none
  position relative
  transition background .2s
  &,
  &:after,
  &:before
    background $main
    height 2px
    transition all .2s
    width 30px
  &:before
    content ""
    position absolute
    left 0
    bottom 8px
    background $main
  &:after
    content ""
    position absolute
    left 0
    top 8px
    background $main


.modal
  background #fff
  box-shadow $shadow
  display none
  margin 0 auto
  max-width 96%
  // padding 4rem
  position relative
  width auto
  &__header
    font-size 2.4rem
    font-weight 600
    margin-bottom 2rem

#social-share
  border-radius $radius
  max-width 50%
  padding 3rem

.mfp-ready
  .modal
    display block
.mfp-close
  font-size 4rem
  margin-top 0

.mfp-close
  margin-top -5rem

.mfp-close-btn-in .mfp-close
  color #fff


.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close
  right -6rem
  top 8rem

.preloader
  display: block
  position: absolute
  left: 50%
  top: 50%
  width: 150px
  height: 150px
  margin: -75px 0 0 -75px
  border-radius: 50%
  border: 3px solid transparent
  border-top-color: #16a085
  animation: spin 1.7s linear infinite
  z-index: 11
  // &--disable
  //   display none
  
  &:before
    content: ""
    position: absolute
    top: 5px
    left: 5px
    right: 5px
    bottom: 5px
    border-radius: 50%
    border: 3px solid transparent
    border-top-color: #e74c3c
    animation: spin-reverse .6s linear infinite
  
  
  &:after
    content: ""
    position: absolute
    top: 15px
    left: 15px
    right: 15px
    bottom: 15px
    border-radius: 50%
    border: 3px solid transparent
    border-top-color: #f9c922
    animation: spin 1s linear infinite
  


// Bourbon mixins
@keyframes spin
  0% 
    transform rotate(0deg)
  
  100%
    transform rotate(360deg)
  


@keyframes spin-reverse
  0% 
    transform rotate(0deg)
  
  100%
    transform rotate(-360deg)
  


.preloader-wrapper .loader-section
  position: fixed
  top: 0
  width: 51%
  height: 100%
  background: #222
  z-index: 10


.preloader-wrapper .loader-section.section-left
  left: 0


.preloader-wrapper .loader-section.section-right
  right: 0


/* Loaded styles */

.loaded .preloader-wrapper .loader-section.section-left
  transform: translateX(-100%)
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000)


.loaded .preloader-wrapper .loader-section.section-right
  transform: translateX(100%)
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000)


.loaded .preloader
  opacity: 0
  transition: all 0.3s ease-out


.loaded .preloader-wrapper
  visibility: hidden
  transform: translateY(-100%)
  transition: all 0.3s 1s ease-out


@import 'base/adapt'
