@import 'helpers/variables'
@import 'helpers/mixins'
@import 'base/base'
@import 'base/typography'
@import 'base/form'
@import 'base/icon'

// Pages
@import 'pages/index'
@import 'pages/inner'
@import 'pages/agencies'
@import 'pages/hotel'
@import 'pages/room'
@import 'pages/search'
@import 'pages/directions'
@import 'pages/transfer'
@import 'pages/offer'
@import 'pages/contacts'

.grid--container
  max-width 1216px

.row
  margin-left -16px
  margin-right -16px

.background
  background #fafafa
  padding-bottom 1rem

.main-header
  background #fff
  border-bottom 1px solid $light-gray
  left 0
  position fixed
  top 0
  transition box-shadow .4s, border-bottom .1s, background-color .2s, color .2s
  width 100%
  z-index 200
  &__container
    align-items center
    justify-content space-between
    display flex
    height 7.2rem
  &__logo
    width 20%
  &__phone
    color $main
    font-weight 600
    text-align right
    width 10%

.logo
  background url('../../img/logo_white.png') no-repeat
  background-size contain
  display inherit
  height 5rem
  width 23rem


.header-nav
  width 70%
  text-align center
  li
    display inline-block
    margin 0 .8rem
    a
      color $main
      font-size 1.2rem
      font-weight 600
      letter-spacing .3px
      text-decoration none
      text-transform uppercase
  .phone
    color $main


.main-header
  &--black
    background-color rgba($main, .7)
    border-bottom none
    li
      a
        color #fff
    & .main-header__phone
      color #fff
    .logo
      background url('../../img/logo.png') no-repeat
  &--scroll
    background-color #fff
    border-color transparent
    box-shadow 5px 2px 48px rgba($gray, .3)
    top 0 !important
    li
      a
        color $main
    .logo
      background url('../../img/logo_white.png') no-repeat
  &--menu
    background-color #030616
    border-bottom none
    .logo
      background url('../../img/logo.png') no-repeat
    .menu-toggle
      &:before,
      &:after
        background #fff


.site-content
  transition transform .4s cubic-bezier(1, 0.1, 0, 0.7) .2s
  &--active
    transform translateX(70%)

.hotel
  &__img
    margin-bottom 1rem
    img
      display block
      width 100%
  &__header
    clearfix()
    &_left
      float left
      width 75%
    &_right
      float right
  &__title
    line-height 1.2
    font-size 2.2rem
    font-weight 600
    margin-bottom 1rem
  // &__stars
    // width 20%
  &__adress
    color #bbb
    margin-bottom 1rem
  &__anons
    margin-bottom 1rem


.map
  iframe
    height 40rem
    width 100%

.main-footer
  background #fff
  margin-top 8rem
  padding-top 8rem
  position relative
  &:before
    content ""
    background url('../../img/svg/wave.svg')
    display block
    left 0
    height 6px
    position absolute
    top -3px
    width 100%
    z-index 10
  &__phone
    line-height 1
    margin-bottom 1rem
    & .code
      display inline-block
      font-weight 300
      font-size 3rem
    & .phone-number
      display inline-block
      font-size 3rem
      font-weight 600
  &__header
    font-weight 700
    margin-bottom 2rem
  &__navigation
    a
      color $main
      font-size 1.2rem
      text-decoration none
  &__socials
    line-height 1
    margin-top -.5rem
    & .social
      color $main
      display inline-block
      margin-right 1rem
      text-decoration none
      .fa
        color $gray
        margin-right 1rem
  
  &__bottom
    border-top 1px solid $light-gray
    margin-top 8rem
    padding-bottom 1rem
    padding-top 2.5rem

.image-background + .main-footer,
.background + .main-footer,
.contacts-team + .main-footer
  margin-top 0

// .webformula
//   text-align right

.title-stars
  display flex
  .stars
    text-align right
    min-width 70px


.menu-toggle
  display none
  &,
  &:after,
  &:before
    width: 30px
    height: 2px
  &
    position: relative
    background: $main
    transition: all 0ms .2s
    &--active
      background: rgba(255, 255, 255, 0) 
  &:before
    content: ""
    position: absolute
    left: 0
    bottom: 8px
    background: $main
    transition: bottom .2s .2s cubic-bezier(0.2, 1, 0.3, 1), transform .2s cubic-bezier(0.2, 1, 0.3, 1)
  &:after
    content: ""
    position: absolute
    left: 0
    top: 8px
    background: $main
    transition: top .2s .2s cubic-bezier(0.2, 1, 0.3, 1), transform .2s cubic-bezier(0.2, 1, 0.3, 1)
  &--active:after
    top: 0
    transform: rotate(45deg)
    transition: top .2s cubic-bezier(0.2, 1, 0.3, 1), transform .2s .2s cubic-bezier(0.2, 1, 0.3, 1)
  &--active:before
    bottom: 0
    transform: rotate(-45deg)
    transition: bottom .2s cubic-bezier(0.2, 1, 0.3, 1), transform .2s .2s cubic-bezier(0.2, 1, 0.3, 1)


@import 'base/adapt'
